* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  display: flex;
  align-items: center;
  max-width: unset;
  margin: 2rem 0;
  position: relative;
}
.menu_side {
  position: absolute;
  z-index: 300;
  top: 50px;
  left: 0;
}

.blue_square {
  position: absolute;
  width: 44px;
  height: 53px;
  left: 1396px;
  top: 1000px;

  background: #0029ff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.next_button {
  position: absolute;
  /* height: 50px; */
  left: 81.82%;
  right: 12%;
  top: 94.4%;
  bottom: 3.38%;

  color: #fff;
  background: #0029ff;
  border-radius: 5px;
}

.asset_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto 200px auto;
  width: 1136px;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.assets_heading {
  background: blue;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}

.assets_title {
  margin-top: 20px;
}

.asset {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cards {
  margin: 30px;
}
